/* .horario {
  background-color: aliceblue;
  border-color: black;
  padding: 50px;
} */
table.horario td {
  padding: 0.2em 0.8em;
  border: 1px solid rgba(16, 76, 167, 0.25);
  background: rgba(90, 156, 255, 0.25);
  text-align: center;
}
